/* Make the notification box a little bigger */
#shiny-notification-panel {
    zoom: 1.1;
}

/*
 * By default, the upload progress bar clips the "upload complete" text in an ugly
 * way. The customizations below do the following:
 * 1. Unclip the text by enabling overflow on the parent object
 * 2. Add back a border-radius so the progress bar isn't a block (the parent object needs
 *    a slightly larger radius or it will be visible behind the progress bar)
 * 3. Shrink down the bar's height so that it looks better.
 */
.shiny-file-input-progress {
    overflow: visible;
    border-radius: 10px;
    height: 20%;
}
.shiny-file-input-progress .progress-bar {
    border-radius: 6px;
    height: 100%;
}

/* This div doesn't respect the padding of its parent container */
#upload_options {
    margin-left: 16px;
}

/* overwrite bootstrap's default margin of 16px, it's too much */
#upload_options .form-group {
    margin-bottom: 0px;
}

/* Add a little space between titles and their surrounding content */
.tab-title {
    padding-top: .5em;
    padding-bottom: .5em;
}

/* The upload box takes up too much horizontal space - manually limit it */
#upload_well > .shiny-input-container {
    max-width: 20em;
}

/* Indent input objects so they look like they're part of the checkbox above */
#show_rows_to_skip .form-group {
    margin-left: 1.4em;
}

/* The number of rows should generally be a single digit, no need for this to be large */
#input_skip_n_rows {
    max-width: 4em;
}

/* Make trash icon color match text around it by default*/
.clickable-accordion-trash-icon {
    fill: currentColor;
}
/* Help the user know the icon is clickable */
.clickable-accordion-trash-icon:hover {
    fill: red;
}

.glow {
    box-shadow: 0 0 8px 8px var(--bs-nav-pills-link-active-bg);
}
